<a href="https://colab.research.google.com/github/Samysr17/DVA_Analysis/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
from google.colab import files
files.upload()

Saving train.csv to train.csv

{'train.csv': b'PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked\r\n1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S\r\n2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C\r\n3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S\r\n4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S\r\n5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S\r\n6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q\r\n7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S\r\n8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S\r\n9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S\r\n10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C\r\n11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S\r\n12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S\r\n13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S\r\n14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S\r\n15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S\r\n16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S\r\n17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q\r\n18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S\r\n19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S\r\n20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C\r\n21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S\r\n22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S\r\n23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q\r\n24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S\r\n25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S\r\n26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,347077,31.3875,,S\r\n27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C\r\n28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S\r\n29,1,3,"O\'Dwyer, Miss. Ellen ""Nellie""",female,,0,0,330959,7.8792,,Q\r\n30,0,3,"Todoroff, Mr. Lalio",male,,0,0,349216,7.8958,,S\r\n31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,,C\r\n32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,0,PC 17569,146.5208,B78,C\r\n33,1,3,"Glynn, Miss. Mary Agatha",female,,0,0,335677,7.75,,Q\r\n34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,,S\r\n35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,82.1708,,C\r\n36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,,S\r\n37,1,3,"Mamee, Mr. Hanna",male,,0,0,2677,7.2292,,C\r\n38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,,S\r\n39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18,,S\r\n40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,11.2417,,C\r\n41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,9.475,,S\r\n42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27,1,0,11668,21,,S\r\n43,0,3,"Kraeff, Mr. Theodor",male,,0,0,349253,7.8958,,C\r\n44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,,C\r\n45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,,Q\r\n46,0,3,"Rogers, Mr. William John",male,,0,0,S.C./A.4. 23567,8.05,,S\r\n47,0,3,"Lennon, Mr. Denis",male,,1,0,370371,15.5,,Q\r\n48,1,3,"O\'Driscoll, Miss. Bridget",female,,0,0,14311,7.75,,Q\r\n49,0,3,"Samaan, Mr. Youssef",male,,2,0,2662,21.6792,,C\r\n50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,,S\r\n51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,39.6875,,S\r\n52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,,S\r\n53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,76.7292,D33,C\r\n54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29,1,0,2926,26,,S\r\n55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,61.9792,B30,C\r\n56,1,1,"Woolner, Mr. Hugh",male,,0,0,19947,35.5,C52,S\r\n57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5,,S\r\n58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,,C\r\n59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,27.75,,S\r\n60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,46.9,,S\r\n61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292,,C\r\n62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,\r\n63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,36973,83.475,C83,S\r\n64,0,3,"Skoog, Master. Harald",male,4,3,2,347088,27.9,,S\r\n65,0,1,"Stewart, Mr. Albert A",male,,0,0,PC 17605,27.7208,,C\r\n66,1,3,"Moubarek, Master. Gerios",male,,1,1,2661,15.2458,,C\r\n67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,10.5,F33,S\r\n68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,,S\r\n69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,7.925,,S\r\n70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,,S\r\n71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,10.5,,S\r\n72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,CA 2144,46.9,,S\r\n73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,73.5,,S\r\n74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,,C\r\n75,1,3,"Bing, Mr. Lee",male,32,0,0,1601,56.4958,,S\r\n76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S\r\n77,0,3,"Staneff, Mr. Ivan",male,,0,0,349208,7.8958,,S\r\n78,0,3,"Moutal, Mr. Rahamin Haim",male,,0,0,374746,8.05,,S\r\n79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29,,S\r\n80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,12.475,,S\r\n81,0,3,"Waelens, Mr. Achille",male,22,0,0,345767,9,,S\r\n82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,,S\r\n83,1,3,"McDermott, Miss. Brigdet Delia",female,,0,0,330932,7.7875,,Q\r\n84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,,S\r\n85,1,2,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,10.5,,S\r\n86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33,3,0,3101278,15.85,,S\r\n87,0,3,"Ford, Mr. William Neal",male,16,1,3,W./C. 6608,34.375,,S\r\n88,0,3,"Slocovski, Mr. Selman Francis",male,,0,0,SOTON/OQ 392086,8.05,,S\r\n89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263,C23 C25 C27,S\r\n90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,,S\r\n91,0,3,"Christmann, Mr. Emil",male,29,0,0,343276,8.05,,S\r\n92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,,S\r\n93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,W.E.P. 5734,61.175,E31,S\r\n94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,,S\r\n95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.25,,S\r\n96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0,374910,8.05,,S\r\n97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C\r\n98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C\r\n99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,,S\r\n100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,,S\r\n101,0,3,"Petranec, Miss. Matilda",female,28,0,0,349245,7.8958,,S\r\n102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,,0,0,349215,7.8958,,S\r\n103,0,1,"White, Mr. Richard Frasar",male,21,0,1,35281,77.2875,D26,S\r\n104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,8.6542,,S\r\n105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,3101276,7.925,,S\r\n106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,7.8958,,S\r\n107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,7.65,,S\r\n108,1,3,"Moss, Mr. Albert Johan",male,,0,0,312991,7.775,,S\r\n109,0,3,"Rekic, Mr. Tido",male,38,0,0,349249,7.8958,,S\r\n110,1,3,"Moran, Miss. Bertha",female,,1,0,371110,24.15,,Q\r\n111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52,C110,S\r\n112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,,C\r\n113,0,3,"Barton, Mr. David John",male,22,0,0,324669,8.05,,S\r\n114,0,3,"Jussila, Miss. Katriina",female,20,1,0,4136,9.825,,S\r\n115,0,3,"Attalah, Miss. Malake",female,17,0,0,2627,14.4583,,C\r\n116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,7.925,,S\r\n117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,,Q\r\n118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21,,S\r\n119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C\r\n120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,31.275,,S\r\n121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,S.O.C. 14879,73.5,,S\r\n122,0,3,"Moore, Mr. Leonard Charles",male,,0,0,A4. 54510,8.05,,S\r\n123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,,C\r\n124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13,E101,S\r\n125,0,1,"White, Mr. Percival Wayland",male,54,0,1,35281,77.2875,D26,S\r\n126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,2651,11.2417,,C\r\n127,0,3,"McMahon, Mr. Martin",male,,0,0,370372,7.75,,Q\r\n128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,,S\r\n129,1,3,"Peter, Miss. Anna",female,,1,1,2668,22.3583,F E69,C\r\n130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.975,,S\r\n131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,349241,7.8958,,C\r\n132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,7.05,,S\r\n133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,A/5. 3337,14.5,,S\r\n134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,,S\r\n135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13,,S\r\n136,0,2,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,15.0458,,C\r\n137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,11752,26.2833,D47,S\r\n138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,53.1,C123,S\r\n139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,7534,9.2167,,S\r\n140,0,1,"Giglio, Mr. Victor",male,24,0,0,PC 17593,79.2,B86,C\r\n141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,,0,2,2678,15.2458,,C\r\n142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,7.75,,S\r\n143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24,1,0,STON/O2. 3101279,15.85,,S\r\n144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,365222,6.75,,Q\r\n145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,11.5,,S\r\n146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,36.75,,S\r\n147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,7.7958,,S\r\n148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,W./C. 6608,34.375,,S\r\n149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26,F2,S\r\n150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13,,S\r\n151,0,2,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,12.525,,S\r\n152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,113776,66.6,C2,S\r\n153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,,S\r\n154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,,S\r\n155,0,3,"Olsen, Mr. Ole Martin",male,,0,0,Fa 265302,7.3125,,S\r\n156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,PC 17597,61.3792,,C\r\n157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,7.7333,,Q\r\n158,0,3,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,8.05,,S\r\n159,0,3,"Smiljanic, Mr. Mile",male,,0,0,315037,8.6625,,S\r\n160,0,3,"Sage, Master. Thomas Henry",male,,8,2,CA. 2343,69.55,,S\r\n161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,371362,16.1,,S\r\n162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40,0,0,C.A. 33595,15.75,,S\r\n163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,7.775,,S\r\n164,0,3,"Calic, Mr. Jovo",male,17,0,0,315093,8.6625,,S\r\n165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,3101295,39.6875,,S\r\n166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,363291,20.525,,S\r\n167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,,0,1,113505,55,E33,S\r\n168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,347088,27.9,,S\r\n169,0,1,"Baumann, Mr. John D",male,,0,0,PC 17318,25.925,,S\r\n170,0,3,"Ling, Mr. Lee",male,28,0,0,1601,56.4958,,S\r\n171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,33.5,B19,S\r\n172,0,3,"Rice, Master. Arthur",male,4,4,1,382652,29.125,,Q\r\n173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,347742,11.1333,,S\r\n174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.925,,S\r\n175,0,1,"Smith, Mr. James Clinch",male,56,0,0,17764,30.6958,A7,C\r\n176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,350404,7.8542,,S\r\n177,0,3,"Lefebre, Master. Henry Forbes",male,,3,1,4133,25.4667,,S\r\n178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,28.7125,C49,C\r\n179,0,2,"Hale, Mr. Reginald",male,30,0,0,250653,13,,S\r\n180,0,3,"Leonard, Mr. Lionel",male,36,0,0,LINE,0,,S\r\n181,0,3,"Sage, Miss. Constance Gladys",female,,8,2,CA. 2343,69.55,,S\r\n182,0,2,"Pernot, Mr. Rene",male,,0,0,SC/PARIS 2131,15.05,,C\r\n183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,347077,31.3875,,S\r\n184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39,F4,S\r\n185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,315153,22.025,,S\r\n186,0,1,"Rood, Mr. Hugh Roscoe",male,,0,0,113767,50,A32,S\r\n187,1,3,"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,1,0,370365,15.5,,Q\r\n188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.55,,S\r\n189,0,3,"Bourke, Mr. John",male,40,1,1,364849,15.5,,Q\r\n190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,349247,7.8958,,S\r\n191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13,,S\r\n192,0,2,"Carbines, Mr. William",male,19,0,0,28424,13,,S\r\n193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,7.8542,,S\r\n194,1,2,"Navratil, Master. Michel M",male,3,1,1,230080,26,F2,S\r\n195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,27.7208,B4,C\r\n196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C\r\n197,0,3,"Mernagh, Mr. Robert",male,,0,0,368703,7.75,,Q\r\n198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,4579,8.4042,,S\r\n199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,,0,0,370370,7.75,,Q\r\n200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13,,S\r\n201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5,,S\r\n202,0,3,"Sage, Mr. Frederick",male,,8,2,CA. 2343,69.55,,S\r\n203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,6.4958,,S\r\n204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,,C\r\n205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,8.05,,S\r\n206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S\r\n207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,3101278,15.85,,S\r\n208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875,,C\r\n209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,7.75,,Q\r\n210,1,1,"Blank, Mr. Henry",male,40,0,0,112277,31,A31,C\r\n211,0,3,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,7.05,,S\r\n212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21,,S\r\n213,0,3,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,7.25,,S\r\n214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13,,S\r\n215,0,3,"Kiernan, Mr. Philip",male,,1,0,367229,7.75,,Q\r\n216,1,1,"Newell, Miss. Madeleine",female,31,1,0,35273,113.275,D36,C\r\n217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.925,,S\r\n218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,,S\r\n219,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C\r\n220,0,2,"Harris, Mr. Walter",male,30,0,0,W/C 14208,10.5,,S\r\n221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,8.05,,S\r\n222,0,2,"Bracken, Mr. James H",male,27,0,0,220367,13,,S\r\n223,0,3,"Green, Mr. George Henry",male,51,0,0,21440,8.05,,S\r\n224,0,3,"Nenkoff, Mr. Christo",male,,0,0,349234,7.8958,,S\r\n225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S\r\n226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,9.35,,S\r\n227,1,2,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,10.5,,S\r\n228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,,S\r\n229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13,,S\r\n230,0,3,"Lefebre, Miss. Mathilde",female,,3,1,4133,25.4667,,S\r\n231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,36973,83.475,C83,S\r\n232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.775,,S\r\n233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,13.5,,S\r\n234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,347077,31.3875,,S\r\n235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,10.5,,S\r\n236,0,3,"Harknett, Miss. Alice Phoebe",female,,0,0,W./C. 6609,7.55,,S\r\n237,0,2,"Hold, Mr. Stephen",male,44,1,0,26707,26,,S\r\n238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,26.25,,S\r\n239,0,2,"Pengelly, Mr. Frederick William",male,19,0,0,28665,10.5,,S\r\n240,0,2,"Hunt, Mr. George Henry",male,33,0,0,SCO/W 1585,12.275,,S\r\n241,0,3,"Zabour, Miss. Thamine",female,,1,0,2665,14.4542,,C\r\n242,1,3,"Murphy, Miss. Katherine ""Kate""",female,,1,0,367230,15.5,,Q\r\n243,0,2,"Coleridge, Mr. Reginald Charles",male,29,0,0,W./C. 14263,10.5,,S\r\n244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22,0,0,STON/O 2. 3101275,7.125,,S\r\n245,0,3,"Attalah, Mr. Sleiman",male,30,0,0,2694,7.225,,C\r\n246,0,1,"Minahan, Dr. William Edward",male,44,2,0,19928,90,C78,Q\r\n247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25,0,0,347071,7.775,,S\r\n248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,250649,14.5,,S\r\n249,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,11751,52.5542,D35,S\r\n250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,244252,26,,S\r\n251,0,3,"Reed, Mr. James George",male,,0,0,362316,7.25,,S\r\n252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29,1,1,347054,10.4625,G6,S\r\n253,0,1,"Stead, Mr. William Thomas",male,62,0,0,113514,26.55,C87,S\r\n254,0,3,"Lobb, Mr. William Arthur",male,30,1,0,A/5. 3336,16.1,,S\r\n255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,370129,20.2125,,S\r\n256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29,0,2,2650,15.2458,,C\r\n257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,,0,0,PC 17585,79.2,,C\r\n258,1,1,"Cherry, Miss. Gladys",female,30,0,0,110152,86.5,B77,S\r\n259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,,C\r\n260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50,0,1,230433,26,,S\r\n261,0,3,"Smith, Mr. Thomas",male,,0,0,384461,7.75,,Q\r\n262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,347077,31.3875,,S\r\n263,0,1,"Taussig, Mr. Emil",male,52,1,1,110413,79.65,E67,S\r\n264,0,1,"Harrison, Mr. William",male,40,0,0,112059,0,B94,S\r\n265,0,3,"Henry, Miss. Delia",female,,0,0,382649,7.75,,Q\r\n266,0,2,"Reeves, Mr. David",male,36,0,0,C.A. 17248,10.5,,S\r\n267,0,3,"Panula, Mr. Ernesti Arvid",male,16,4,1,3101295,39.6875,,S\r\n268,1,3,"Persson, Mr. Ernst Ulrik",male,25,1,0,347083,7.775,,S\r\n269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,PC 17582,153.4625,C125,S\r\n270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.6333,C99,S\r\n271,0,1,"Cairns, Mr. Alexander",male,,0,0,113798,31,,S\r\n272,1,3,"Tornquist, Mr. William Henry",male,25,0,0,LINE,0,,S\r\n273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41,0,1,250644,19.5,,S\r\n274,0,1,"Natsch, Mr. Charles H",male,37,0,1,PC 17596,29.7,C118,C\r\n275,1,3,"Healy, Miss. Hanora ""Nora""",female,,0,0,370375,7.75,,Q\r\n276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S\r\n277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45,0,0,347073,7.75,,S\r\n278,0,2,"Parkes, Mr. Francis ""Frank""",male,,0,0,239853,0,,S\r\n279,0,3,"Rice, Master. Eric",male,7,4,1,382652,29.125,,Q\r\n280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35,1,1,C.A. 2673,20.25,,S\r\n281,0,3,"Duane, Mr. Frank",male,65,0,0,336439,7.75,,Q\r\n282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28,0,0,347464,7.8542,,S\r\n283,0,3,"de Pelsmaeker, Mr. Al

In [ ]:
import pandas as pd
data=pd.read_csv("train.csv")
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [ ]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
male=data[data.Sex=="male"].count()
male

PassengerId    577
Survived       577
Pclass         577
Name           577
Sex            577
Age            453
SibSp          577
Parch          577
Ticket         577
Fare           577
Cabin          107
Embarked       577
dtype: int64

In [ ]:
data.groupby()

In [ ]:
male=data.Sex[data.Sex=="male"].count()
female=data.Sex[data.Sex=="female"].count()
male+female

891

In [ ]:

import numpy as np
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])
my_column_names = ['temperature', 'activity']
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
my_dataframe["adjusted"]=my_dataframe["activity"]+4
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         7
1           10         7        11
2           20         9        13
3           30        14        18
4           40        15        19